{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}

{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<!doctype html>
<html
  class="no-js supports-no-cookies"
  lang="{{ request.locale.iso_code }}"
  data-template="{{ template.name }}"
  {% if enable_rtl %}dir="rtl"{% endif %}
>
<head>
	{% include 'autoketing-seo' %}

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">

  {%- liquid
    render 'preload'
    render 'SEO'
    render 'social-meta-tags'
    render 'font-face'
  -%}

  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'chunk.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'theme-global.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'lazy-image.min.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

	{% include 'autoketing-end-head-seo' %}
</head>

<body
  id="sf-theme"
  class="{{ body_classes }} relative min-h-screen{% if customer %} customer-logged-in{% endif %}"
  {% if template.name == 'product' %}data-product-id="{{ product.id }}"{% endif %}
>
  {% render 'theme-data' %}
  {% section 'annoucement' %}
  {% section 'header' %}
  {% render 'scroll-top-button' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
    <div id="cart-drawer-container"></div>
  </main>

  {%- liquid
    section 'footer'
  -%}

  {% section 'mobile-sticky-bar' %}

  {% render 'custom-code-body' %}
  {% render 'foxkit-messenger' %}
  {% render 'script-tags' %}

  <script src="{{ 'app.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'foxkit-app.min.js' | asset_url }}" defer="defer"></script>

  {% if settings.show_quickview_button %}
    <script src="{{ 'quick-view.min.js' | asset_url }}" defer="defer"></script>
  {% endif %}
  {% if settings.show_swatch_option %}
    <script src="{{ 'product-card-swatch.min.js' | asset_url }}" defer="defer"></script>
  {% endif %}
 {% include 'smile-initializer' %}

{% if template == 'index' %}
 
<style>
.shopify-section-group-header-group.announcement-bar-section{
height: 5px;
}
.header-wrapper{
position: absolute;
width: 100%;
background: transparent;
}
.header-wrapper .header{
margin-top: 20px;
}

.sf__pcard-style-4 .sf__pcard-content .sf__pcard-quick-add .sf__btn {
  margin-top: 0px !important;
}

.product-recommendations .sf-column, .recently-viewed .sf-column {
    padding: 0 calc(var(--column-gap)/2) var(--row-gap,var(--column-gap)) !important;
}

#ShopifyChat {
    position: fixed !important;
    z-index: 2147483646 !important;
    right: 72px !important;
    bottom: 75px !important;
}

@media screen and (max-width:767px){
  #ShopifyChat {
    right: 5px !important;
    bottom: 120px !important;
  }

  #scroll-to-top-button {
    bottom: 75px !important;
  }
}
</style>
 
{% endif %}
  

</body>
</html>
